HttpService.JSONEncode generates invalid JSON

JSONEncode does not escape quotation marks, backslashes, and other special characters as per RFC 4627, Section 2.5. The result is invalid JSON:

```
local HttpService = Game:GetService("HttpService")

print(HttpService:JSONEncode({ quotation_mark = "\"" }))
--> { "quotation_mark": """ }

print(HttpService:JSONEncode({ backslash = "\\" }))
--> { "backslash": "\" }
```
